include includes/template.pug
body
  h1 Неделя:  #{period.from} - #{period.to} 
  table.striped.centered
    thead
      tr 
        th PO
        th Project
        th Sat
        th Sun
        th Mon
        th Tue
        th Wen
        th Thu
        th Fri
        th Total
        th Updated at
    tbody
      each project in period.projects
        tr
          td= project.PO
          td= project.name
          each day in project.days
            td= day
          td= project.total
          td #{moment(project.updatedAt).format("LLL")}