<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title OTL Tables
  body
    each user in users
      table
        caption=user.name
        tr
          th От
          th До
          th Статус
          th Проекты
        each period in user.periods
          tr
          
            td=period.from
            td=period.to
            td=period.status
            td
              a(href=period.id)
                | Показать



      