extends ../template.pug
block body
  each user in users
    table.striped.centered
      caption
        h5
        - const url = "users/" + user.id;
          a(href=url)=user.name
      thead
        tr
          th Period
          th Status
          th Projects
      tbody
        each period in user.periods
          tr
            td #{period.from} - #{period.to}
            td
              case period.status
                when "Approved"
                  span.green-text.text-accent-4 #{period.status}
                default
                  span.red-text.text-darken-4 #{period.status}
            td
              - const url = "periods/" + period.id
              a(href=url)
                | Show
